ErrorDocument 404 /error
ErrorDocument 403 /forbidden
RewriteRule ^forbidden?$ 403.php
RewriteRule ^error?$ 404.php
RewriteEngine On
Options -Indexes
# Handle Front Controller...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ api.php [L]
RewriteRule ^forbidden?$ 403.php
RewriteRule ^error?$ 404.php